<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍管理</title>
</head>
<body>
    <tr>{{ Title }}</tr>
    <table border="1px">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>author</td>
        <td>total</td>
    </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.book_author }}</td>
                <td>{{ book.book_total }}</td>
            </tr>
        {% endfor %}

    </table>

</body>
</html>